In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("NYPD data.csv")

data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,UNIQUE KEY,VEHICLE TYPE CODE 1
0,4/22/2019,0:05,MANHATTAN,10002,40.716476,-73.99283,"(40.716476, -73.99283)",ELDRIDGE STREET,HESTER STREET,NaN,...,0.0,0,0,0,0,0,0,Tow Hitch Defective,4119391,Station Wagon/Sport Utility Vehicle
1,4/22/2019,0:15,BROOKLYN,11238,40.681750,-73.96748,"(40.68175, -73.96748)",ATLANTIC AVENUE,VANDERBILT AVENUE,NaN,...,0.0,0,0,0,0,0,0,Unsafe Lane Changing,4119116,Tractor Truck Diesel
2,4/22/2019,0:15,QUEENS,11434,40.664017,-73.76860,"(40.664017, -73.7686)",FARMERS BOULEVARD,BREWER BOULEVARD,NaN,...,0.0,0,0,0,0,1,0,Unspecified,4118449,Station Wagon/Sport Utility Vehicle
3,4/22/2019,0:30,BROOKLYN,11219,40.622326,-73.99806,"(40.622326, -73.99806)",NaN,NaN,6615 NEW UTRECHT AVENUE,...,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,4119011,Pick-up Truck
4,4/22/2019,0:30,BROOKLYN,11228,40.607464,-74.01486,"(40.607464, -74.01486)",NaN,NaN,236 BAY 8 STREET,...,0.0,0,0,0,0,0,0,Fell Asleep,4118458,Convertible

In [5]:
manhattan = data.loc[data["BOROUGH"] == "MANHATTAN"]
queens = data.loc[data["BOROUGH"] == "QUEENS"]
bronx = data.loc[data["BOROUGH"] == "BRONX"]
brooklyn = data.loc[data["BOROUGH"] == "BROOKLYN"]
statenisland = data.loc[data["BOROUGH"] == "STATEN ISLAND"]

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,UNIQUE KEY,VEHICLE TYPE CODE 1
31,4/22/2019,11:35,STATEN ISLAND,10302,40.62961,-74.13026,"(40.62961, -74.13026)",JEWETT AVENUE,HOLBERNT COURT,NaN,...,0.0,0,0,0,0,0,0,Passing Too Closely,4119474,Pick-up Truck
38,4/22/2019,12:00,STATEN ISLAND,10305,40.61194,-74.07038,"(40.61194, -74.07038)",NaN,NaN,255 HYLAN BOULEVARD,...,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,4119490,Sedan
45,4/22/2019,12:20,STATEN ISLAND,10304,40.60323,-74.09261,"(40.60323, -74.09261)",RICHMOND ROAD,SPRING STREET,NaN,...,0.0,0,0,0,0,0,0,Driver Inexperience,4118948,Sedan
205,4/22/2019,19:15,STATEN ISLAND,10305,40.57925,-74.07781,"(40.57925, -74.07781)",CAPODANNO BOULEVARD,SEAVIEW AVENUE,NaN,...,0.0,0,0,0,0,0,0,Unspecified,4119151,Sedan
219,4/22/2019,20:35,STATEN ISLAND,10306,40.57912,-74.13289,"(40.57912, -74.13289)",NaN,NaN,140 MEISNER AVENUE,...,0.0,0,0,0,0,0,0,Unspecified,4119273,Sedan

In [10]:
m_count = manhattan["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().nlargest(5)
q_count = queens["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().nlargest(5)
bronx_count = bronx["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().nlargest(5)
brooklyn_count = brooklyn["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().nlargest(5)
s_count = statenisland["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().nlargest(5)
s_count

Unspecified                       19882
Driver Inattention/Distraction     8047
Failure to Yield Right-of-Way      2597
Backing Unsafely                   1978
Following Too Closely              1593
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64