# ANALYSIS OF NYPD MOTOR VEHICLE COLLISIONS
* DataSource: https://data.cityofnewyork.us/Public-Safety/NYPD-Motor-Vehicle-Collisions/h9gi-nx95/data
---

In [29]:
# Import required packages
import pandas as pd
import numpy as np
import datetime


#Loading NYPD dataset
#Displaying data using pandas dataframe
#The correct encoding must be used to read the CSV in pandas ISO-8859-1

data_load = "NYPD-Data.csv"
data = pd.read_csv(data_load, encoding="ISO-8859-1", low_memory=False)

df = pd.DataFrame(data)
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,UNIQUE KEY,VEHICLE TYPE CODE 1
0,4/22/2019,0:05,MANHATTAN,10002,40.716476,-73.99283,"(40.716476, -73.99283)",ELDRIDGE STREET,HESTER STREET,NaN,...,0.0,0,0,0,0,0,0,Tow Hitch Defective,4119391,Station Wagon/Sport Utility Vehicle
1,4/22/2019,0:15,BROOKLYN,11238,40.681750,-73.96748,"(40.68175, -73.96748)",ATLANTIC AVENUE,VANDERBILT AVENUE,NaN,...,0.0,0,0,0,0,0,0,Unsafe Lane Changing,4119116,Tractor Truck Diesel
2,4/22/2019,0:15,QUEENS,11434,40.664017,-73.76860,"(40.664017, -73.7686)",FARMERS BOULEVARD,BREWER BOULEVARD,NaN,...,0.0,0,0,0,0,1,0,Unspecified,4118449,Station Wagon/Sport Utility Vehicle
3,4/22/2019,0:30,BROOKLYN,11219,40.622326,-73.99806,"(40.622326, -73.99806)",NaN,NaN,6615 NEW UTRECHT AVENUE,...,0.0,0,0,0,0,0,0,Driver Inattention/Distraction,4119011,Pick-up Truck
4,4/22/2019,0:30,BROOKLYN,11228,40.607464,-74.01486,"(40.607464, -74.01486)",NaN,NaN,236 BAY 8 STREET,...,0.0,0,0,0,0,0,0,Fell Asleep,4118458,Convertible

In [30]:
# df.drop('BOROUGH', axis='columns', inplace=True)
# df.drop('TIME', axis='columns', inplace=True)
# df.drop('ZIP CODE', axis='columns', inplace=True)
# df.drop('ON STREET NAME', axis='columns', inplace=True)
# df.drop('OFF STREET NAME', axis='columns', inplace=True)
# df.drop('CROSS STREET NAME', axis='columns', inplace=True)
# df.drop('UNIQUE KEY', axis='columns', inplace=True)

In [31]:
#Checking data types
df.dtypes

DATE                              object
TIME                              object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
UNIQUE KEY                         int64
VEHICLE TYPE CODE 1               object
dtype: object

In [32]:
#Converting 'date' to datetime and 'injured' and 'killed' to numeric
df['DATE'] = pd.to_datetime(df['DATE'])

In [33]:
df.dtypes

DATE                             datetime64[ns]
TIME                                     object
BOROUGH                                  object
ZIP CODE                                 object
LATITUDE                                float64
LONGITUDE                               float64
LOCATION                                 object
ON STREET NAME                           object
CROSS STREET NAME                        object
OFF STREET NAME                          object
NUMBER OF PERSONS INJURED               float64
NUMBER OF PERSONS KILLED                float64
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
UNIQUE KEY                                int64
VEHICLE TYPE CODE 1                      object
dtype: object

In [35]:
#Extract year from 'DATE' and create separate collumns
df['YEAR'] = pd.DatetimeIndex(df['DATE']).year
df['MONTH'] = pd.DatetimeIndex(df['DATE']).month

df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,UNIQUE KEY,VEHICLE TYPE CODE 1,YEAR,MONTH
0,2019-04-22,0:05,MANHATTAN,10002,40.716476,-73.99283,"(40.716476, -73.99283)",ELDRIDGE STREET,HESTER STREET,NaN,...,0,0,0,0,0,Tow Hitch Defective,4119391,Station Wagon/Sport Utility Vehicle,2019,4
1,2019-04-22,0:15,BROOKLYN,11238,40.681750,-73.96748,"(40.68175, -73.96748)",ATLANTIC AVENUE,VANDERBILT AVENUE,NaN,...,0,0,0,0,0,Unsafe Lane Changing,4119116,Tractor Truck Diesel,2019,4
2,2019-04-22,0:15,QUEENS,11434,40.664017,-73.76860,"(40.664017, -73.7686)",FARMERS BOULEVARD,BREWER BOULEVARD,NaN,...,0,0,0,1,0,Unspecified,4118449,Station Wagon/Sport Utility Vehicle,2019,4
3,2019-04-22,0:30,BROOKLYN,11219,40.622326,-73.99806,"(40.622326, -73.99806)",NaN,NaN,6615 NEW UTRECHT AVENUE,...,0,0,0,0,0,Driver Inattention/Distraction,4119011,Pick-up Truck,2019,4
4,2019-04-22,0:30,BROOKLYN,11228,40.607464,-74.01486,"(40.607464, -74.01486)",NaN,NaN,236 BAY 8 STREET,...,0,0,0,0,0,Fell Asleep,4118458,Convertible,2019,4

In [36]:
#Replace values based on spelling 
df['CONTRIBUTING FACTOR VEHICLE 1'].replace('Drugs (Illegal)', 'Drugs (illegal)', inplace=True)

In [37]:
df['CONTRIBUTING FACTOR VEHICLE 1'].replace('Cell Phone (hand-Held)', 'Cell Phone (hand-held) ', inplace=True)

In [38]:
df['CONTRIBUTING FACTOR VEHICLE 1'].replace('Cell Phone (hand-held)', 'Cell Phone (hand-held) ', inplace=True)

In [39]:
df['DATE'].min()

Timestamp('2012-07-01 00:00:00')

In [40]:
df['DATE'].max()

Timestamp('2019-04-22 00:00:00')

In [41]:
#Finding percentage values of 'contributing factors' in the dataset
df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts(normalize=True)

Unspecified                                              0.420310
Driver Inattention/Distraction                           0.170000
Failure to Yield Right-of-Way                            0.059852
Backing Unsafely                                         0.042220
Other Vehicular                                          0.033509
Following Too Closely                                    0.027195
Fatigued/Drowsy                                          0.025003
Turning Improperly                                       0.023969
Passing Too Closely                                      0.019928
Passing or Lane Usage Improper                           0.018690
Lost Consciousness                                       0.015034
Driver Inexperience                                      0.014723
Traffic Control Disregarded                              0.014705
Prescription Medication                                  0.012673
Unsafe Lane Changing                                     0.011408
Alcohol Involvement                                      0.009402
Pavement Slippery                                        0.008994
Physical Disability                                      0.007460
Oversized Vehicle                                        0.007029
Outside Car Distraction                                  0.006825
Unsafe Speed                                             0.006063
View Obstructed/Limited                                  0.006003
Passenger Distraction                                    0.005205
Reaction to Uninvolved Vehicle                           0.005108
Aggressive Driving/Road Rage                             0.003669
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion    0.003098
Brakes Defective                                         0.002845
Glare                                                    0.002037
Fell Asleep                                              0.001934
Illness                                                  0.001858
Other Electronic Device                                  0.001726
Failure to Keep Right                                    0.001696
Obstruction/Debris                                       0.001636
Reaction to Other Uninvolved Vehicle                     0.001063
Steering Failure                                         0.001047
Pavement Defective                                       0.001020
Tire Failure/Inadequate                                  0.000694
Animals Action                                           0.000581
Drugs (illegal)                                          0.000534
Driverless/Runaway Vehicle                               0.000499
Accelerator Defective                                    0.000495
Lane Marking Improper/Inadequate                         0.000454
Illnes                                                   0.000441
Traffic Control Device Improper/Non-Working              0.000423
Cell Phone (hand-held)                                   0.000206
Cell Phone (hands-free)                                  0.000164
Tow Hitch Defective                                      0.000102
Other Lighting Defects                                   0.000087
Headlights Defective                                     0.000067
Vehicle Vandalism                                        0.000048
80                                                       0.000046
Windshield Inadequate                                    0.000045
Tinted Windows                                           0.000042
Shoulders Defective/Improper                             0.000040
Using On Board Navigation Device                         0.000037
Eating or Drinking                                       0.000035
Texting                                                  0.000015
Listening/Using Headphones                               0.000008
1                                                        0.000003
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: float64

## ANALYSING THE CONTRIBUTING FACTORS BY YEAR

In [46]:
#Analyse 'MAJOR CONTRIBUTING FACTORS' BY 'YEAR' and 'MONTH'
df.groupby(['CONTRIBUTING FACTOR VEHICLE 1', 'YEAR', 'MONTH']).sum().head()

                                             LATITUDE    LONGITUDE  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3        81.394156  -148.141220
                                   4        40.769848   -73.834800
80                            2016 3       814.190810 -1478.680652
                                   4      1059.004912 -1920.885685
Accelerator Defective         2012 7       366.520278  -665.040628

                                          NUMBER OF PERSONS INJURED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                            0.0
                                   4                            0.0
80                            2016 3                            4.0
                                   4                            2.0
Accelerator Defective         2012 7                            8.0

                                          NUMBER OF PERSONS KILLED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                           0.0
                                   4                           0.0
80                            2016 3                           0.0
                                   4                           0.0
Accelerator Defective         2012 7                           0.0

                                          NUMBER OF PEDESTRIANS INJURED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                                  0
                                   4                                  0
80                            2016 3                                  1
                                   4                                  1
Accelerator Defective         2012 7                                  0

                                          NUMBER OF PEDESTRIANS KILLED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                                 0
                                   4                                 0
80                            2016 3                                 0
                                   4                                 0
Accelerator Defective         2012 7                                 0

                                          NUMBER OF CYCLIST INJURED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                              0
                                   4                              0
80                            2016 3                              0
                                   4                              0
Accelerator Defective         2012 7                              0

                                          NUMBER OF CYCLIST KILLED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                             0
                                   4                             0
80                            2016 3                             0
                                   4                             0
Accelerator Defective         2012 7                             0

                                          NUMBER OF MOTORIST INJURED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                               0
                                   4                               0
80                            2016 3                               3
                                   4                               1
Accelerator Defective         2012 7                               8

                                          NUMBER OF MOTORIST KILLED  \
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3                              0
                                   4                              0
80                            2016 3                              0
                                   4                              0
Accelerator Defective         2012 7                              0

                                          UNIQUE KEY
CONTRIBUTING FACTOR VEHICLE 1 YEAR MONTH
1                             2016 3         6841602
                                   4         3426591
80                            2016 3        69001425
                                   4        88970578
Accelerator Defective         2012 7         1391163

In [49]:
# Descriptive statistics by 'YEAR' and 'MAJOR CONTRIBUTING FACTOR'
df.groupby(['YEAR', 'CONTRIBUTING FACTOR VEHICLE 1']).describe().head()

                                   LATITUDE                                  \
                                      count       mean       std        min
YEAR CONTRIBUTING FACTOR VEHICLE 1
2012 Accelerator Defective             41.0  40.717546  0.082328  40.549373
     Aggressive Driving/Road Rage     283.0  40.734283  0.075931  40.542319
     Alcohol Involvement              565.0  40.722332  0.078949  40.507784
     Animals Action                    32.0  40.704288  0.097952  40.556534
     Backing Unsafely                1879.0  40.726493  0.077718  40.537700

                                                                     \
                                          25%        50%        75%
YEAR CONTRIBUTING FACTOR VEHICLE 1
2012 Accelerator Defective          40.665489  40.696288  40.768935
     Aggressive Driving/Road Rage   40.686294  40.732947  40.779468
     Alcohol Involvement            40.672151  40.714069  40.766045
     Animals Action                 40.626167  40.707511  40.766652
     Backing Unsafely               40.671615  40.729996  40.771247

                                              LONGITUDE             ...  \
                                          max     count       mean  ...
YEAR CONTRIBUTING FACTOR VEHICLE 1                                  ...
2012 Accelerator Defective          40.904503      41.0 -73.925484  ...
     Aggressive Driving/Road Rage   40.882710     283.0 -73.938084  ...
     Alcohol Involvement            40.912080     565.0 -73.915232  ...
     Animals Action                 40.908147      32.0 -73.927267  ...
     Backing Unsafely               40.906746    1879.0 -73.925716  ...

                                   UNIQUE KEY              MONTH            \
                                          75%        max   count      mean
YEAR CONTRIBUTING FACTOR VEHICLE 1
2012 Accelerator Defective           228618.0   294946.0    41.0  9.048780
     Aggressive Driving/Road Rage    209009.5  4020843.0   283.0  9.586572
     Alcohol Involvement             220701.0   301603.0   565.0  9.437168
     Animals Action                  250031.5   294911.0    32.0  9.187500
     Backing Unsafely                220167.0   295906.0  1879.0  9.381586


                                         std  min  25%   50%    75%   max
YEAR CONTRIBUTING FACTOR VEHICLE 1
2012 Accelerator Defective          1.672591  7.0  8.0   9.0  10.00  12.0
     Aggressive Driving/Road Rage   1.576230  7.0  8.0  10.0  11.00  12.0
     Alcohol Involvement            1.742776  7.0  8.0   9.0  11.00  12.0
     Animals Action                 1.803894  7.0  7.0   9.0  10.25  12.0
     Backing Unsafely               1.723947  7.0  8.0   9.0  11.00  12.0

[5 rows x 96 columns]

In [ ]:
#Save clean file in exccel to make analysis in Tableau
df.to_excel("factors.xlsx", index=False)
# df.to_csv("factors_csv.csv", index=False)